# Ignore Python cache files
__pycache__/
*.py[cod]

# Add virtual environment directories
.venv/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Visual Studio 2022
.vs/
bin/
obj/
*.user
*.suo

# .NET MAUI
**/Platforms/**/bin/
**/Platforms/**/obj/
*.apk
*.ipa
*.appx
*.msix

# NuGet
packages/
*.nupkg

